* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Code blocking out and styling the heading */
header {
    height: 300px;
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #e7e6d6;
    text-align: end;
    background-color: #4b633f;
}
.item1,
.item2,
.item3 {
    display: inline-flex;
    justify-content: flex-end;
    border-radius: 2%;
    padding: 10px;
    margin: 0px;
    background-color:#799276;
}
.headings {
    color: #4b633f;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.contact-color {
    color:#799276;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
}
/* Styling images*/
.prework-study-guide {
    display: block;
    height: 500px;
    width: 600px;
    border: solid 2px;
    margin-left: 375px;
    padding: 5px;
}
.images:hover {
    opacity: 75%;
}

.placeholder {
    display: inline-flex;
    justify-content: space-between;
    height: 300px;
    width: 350px;
    border: solid 2px;
    margin-top: 30px;
    padding: 3px;
}

/*Sections within the body*/
body {
    background-color:#e7e6d6;
    padding: 0px;
    margin: 0px;
}
#about-me {
    margin: 20px;
    padding: 20px;
    border-radius:0%;
    height: 200px;
    background-color:#e7e6d6;
    color:#4b633f;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}
#my-work {
    margin: 20px;
    padding: 20px;
    border-radius:0%;
    height: 1000px;
    background-color: #e7e6d6;
    color: #4b633f;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}
#contact-me {
    margin: 0px;
    padding: 20px;
    border-radius:0%;
    height: 200px;
    background-color:#4b633f;
    color: #e7e6d6;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}
/*Buttons in the last section*/
.phone,
.email,
.linkedin {
    display: inline-flex;
    flex-direction: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 2%;
    background-color:#fcd1cd;
    color:black;
    padding: 3px;
}
/*Media queries to adjust to screen sizes*/
@media screen and (max-width: 768px) {
    header,
    body {
        display: flex;
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 575px) {
   header,
   body {
      display: block;
      flex-direction: column;
    }
}